name: Build & Deploy to Scaleway
on:
  push:
    branches:
      - main

jobs:
  build-delano-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Scaleway Container Registry
      uses: docker/login-action@v3
      with:
        username: nologin
        password: ${{ secrets.SCALEWAY_API_KEY }}
        registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
    - name: Build the backend Docker image
      run: docker build ./backend -t ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-backend:latest
    - name: Push the backend Docker Image
      run: docker push ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-backend:latest
  
  build-delano-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Login to Scaleway Container Registry
      uses: docker/login-action@v3
      with:
        username: nologin
        password: ${{ secrets.SCALEWAY_API_KEY }}
        registry: ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}
    - name: Build the frontend Docker image
      run: docker-compose build ./frontend -t ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/ddelano-frontend:latest
    - name: Push the frontend Docker Image
      run: docker push ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-frontend:latest
      
  deploy:
    runs-on: ubuntu-latest
    needs: [build-delano-backend, build-delano-frontend]
    steps:
      - name: Deploy app to instance
        uses: appleboy/ssh-action@master  
        with:
          host: ${{ secrets.HOST }}           # Adresse du serveur SSH
          username: ${{ secrets.SSH_USER }}   # Nom d’utilisateur pour se connecter au serveur SSH
          key: ${{ secrets.SSH_PRIVATE_KEY }} # Clé privée SSH pour l’authentification
          port: 22
          script: |
            cd ./delano
            # Arrêter et supprimer les conteneurs existants (si nécessaire)
            docker-compose down . || true
            docker-compose rm . || true

            # Récupérer la dernière version des images depuis le registre
            docker pull ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-backend:latest #|| exit 1
            docker pull ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-frontend:latest #|| exit 1
                
            # Lancer les nouveaux conteneurs a partir du dcoker-compose
            # docker-compose up -d --name delano-app-test -p 8033:8033 ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-app-test:latest
            docker-compose up -d #--name delano-app-test -p 8033:8033 ${{ secrets.CONTAINER_REGISTRY_ENDPOINT }}/delano-app-test:latest